.About-Container {
  width: 1200px;
  margin: 80px auto;
}

.About-tiechui {
  background-size: 100% 100%;
  float: right;
  height: 600px;
  width: 600px;
}

.About-intro {
  float: left;
  color: #7f8c8d;
  width: 600px;
}
