.Header {
  margin: 40px 60px;
}

.Header-logo {
  width: 50px;
  height: 50px;
  float: left;
  background-size: 100% 100%;
  margin-right: 20px;
}

.Nav {
  display: flex;

}

.NavItem {
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 0 2vw;
  font-size: 18px;
  font-weight: bold;
  transition: 200ms linear;
}

.NavItem-home:hover {
  color: #fff;
}

.NavItem-home.active {
  color: #fff;
}

.NavItem-normal:hover,
.NavItem-normal.active {
  color:  #ffa800;
}

@media screen and (max-width: 500px){
  .Header-logo {
    display: none;
  }

  .Nav {
    justify-content: center;
  }

  .NavItem {
    padding: 0 6vw;
    font-size: 14px;
  }
}
